.contactUs-wrapper {
  padding: 120px 0;
}

.single-contact {
  min-height: 171px;
  background: #fff;
  box-shadow: 0 6px 26px rgb(0 0 0 / 6%);
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 35px;
  transition: 0.5s;
}

.single-contact:hover {
  transform: translateY(-10px);
}


.single-contact.icon2 .c-icon {
  color: #1c83c6;;
}


.single-contact.icon3 .c-icon {
  color: #1c83c6;;
}


.c-icon {
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  display: block;
  border-radius: 50%;
  color: #1c83c6;
  font-size: 26px;
  transition: 0.5s;
  margin-right: 60px;
}

.c-info h4 {
  font-family: "Josefin Sans", sans-serif;
}

.c-info p {
  margin: 0;
  font-weight: 300;
  line-height: 26px;
  color: #999;
}
