.footer-bg {
  background-color: #6ae5eb;
  padding: 20px;
}

.single-footer-widget {
  padding: 20px 0 30px;
}

.widget-title {
  margin-bottom: 100px;
}

.widget-title h2 {
  line-height: 1;
  font-size: 30px;
  color: #fff !important;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 600;
}
.footer-link {
  font-weight: 400;
  display: block;
  line-height: 34px;
  color: #ddd !important;
}

.footer-link:hover {
  color: #fc5185 !important;
}

.footer-copy-right {
  padding: 20px 0;
  background-color: #1a60b6;
}

.developer {
  color: #fc5185;
}

/* for mobile responsive */
@media only screen and (max-width: 426px) {
  .single-footer-widget {
    padding: 45px 0 20px;
  }
}

@media only screen and (max-width: 321px) {
  .footer-copy-right {
    padding: 20px 8px;
  }
}
